html{
  font-size: 18px;
}
body{
  font-family: Helvetica;
}
.container{
  max-width: 960px;
  margin: 0 auto;
}
.logo{
  background-color: black;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.logo img{
  height: 1.5rem;
  width: auto;
  margin: auto 1rem auto 0.5rem;
}
.logo-header{
  margin-top: 0.66rem;
  margin-bottom: 0.66rem;
  color: white;
  font-weight: bold;
  font-size: 1rem;
}
.main-banner{
  display:flex;
  height: 25rem;
  background-image: url("../resources/moto.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
